div.wrapperFooter
    div.wrapperFooter__data
        div.wrapperFooter__data__text
            p БАРБЕРШОП «БОРОДИНСКИЙ»
            p АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, УЛ. Б. КОНЮШЕННАЯ, Д. 19/8
            p КАК НАС НАЙТИ?
            p ТЕЛЕФОН: +7 (495) 666-02-66
        div.socialService
            p.textInSocial ДАВАЙТЕ ДРУЖИТЬ!
            div.socialIcons
                div.vkoNtakte
                div.faceBook
                div.instaGram
        div.acaDemy
            p.textInMade РАЗРАБОТАНО
            a(href='#')
                div.btn
                    p htmlacademy.ru





