div.wrapperPricelist
    p.priceList ПРАЙС-ЛИСТ
    div.miniWra
        a.generalP(href="index.html") ГЛАВНАЯ
        div.staR
        p ПРАЙС-ЛИСТ
    div.mensHealth
        div.line
        p ИСТИННО МУЖСКАЯ КЛАССИКА
        div.line
    div.weUseBestThings
        div.itemFirst
            p МЫ ИСПОЛЬЗУЕМ ТОЛЬКО
            p ЛУЧШИЕ СРЕДСТВА:
            ul
                li Baxter of California
                li Mr Natty
                li Suavecito
                li Malin+Goetz
        div.itemSecond
            p ЦЕНЫ НА УСЛУГИ
            p НАШИХ МАСТЕРОВ :
            table
                tr
                    th.miniMarg СТРИЖКА
                    th.centerAl 1500 Р.
                tr
                    th.miniMarg СТРИЖКА БОРОДЫ
                    th.centerAl 500 Р.
                tr
                    th.miniMarg НАКРУТКА УСОВ
                    th.centerAl 350 Р.
        div.itemThird
            h5 НЕСКОЛЬКО СЛОВ О НАС:
            p Наша парикмахерская занимается исключительно мужскими
            p стрижками. Стрижка каждого клиента для нас - это уникальная
            p и продуманная до мелочей работа. Мы не работаем на
            p количество, мы делаем качество.
        div.itemFour
            p Наша мастерская расположена в центре города, поэтому
            p сделать стильную стрижку можно в любое время, даже в
            p обеденный перерыв. Здесь вы можете погрузиться в удобную
            p для вас атмосферу, чувствовать себя комфортно и свободно!
