div.item__titel
    h1 СРЕДСТВА ДЛЯ УХОДА
    nav
        a.menu(href="#") ГЛАВНАЯ
        div.rectangle
        a(href="/index.html") МАГАЗИН
        div.rectangle
        a(href="/shop.html") СРЕДСТВА ДЛЯ УХОДА





