doctype html
html
  head
    link(rel='stylesheet', href='css/normalize.css', type='text/css')
    link(rel='stylesheet', href='css/header.css', type='text/css')
    link(rel='stylesheet', href='css/contacts.css', type='text/css')
    link(rel='stylesheet', href='css/footer.css', type='text/css')
    link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMaDzaGWiBlB9eNmsWrNMr7Z3ckwgk3ro")
    script(type="text/javascript" src="app/js/maps.js")

  body
    include blocks/_header
    include blocks/_contacts
    include blocks/_footer


