doctype html
html
  head
    title Index

    link(rel='stylesheet', href='css/normalize.css', type='text/css')
    link(rel='stylesheet', href='css/header.css', type='text/css')
    link(rel='stylesheet', href='css/item.css', type='text/css')
    link(rel='stylesheet', href='css/footer.css', type='text/css')
    link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")
    script(type="text/javascript" src="app/js/_item-list.js")

  body
    include blocks/_header
    include blocks/_item
    include blocks/_footer


