doctype html
html
  head
    link(href='css/header.css' rel='stylesheet')
    link(href='css/footer.css' rel='stylesheet')
    link(href='css/prices.css' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")
  body


    include blocks/_header.jade
    include blocks/_prices.jade
    include blocks/_footer.jade


