doctype html
html
  head
    title Index

    link(rel='stylesheet', href='css/normalize.css', type='text/css')
    link(rel='stylesheet', href='css/header.css', type='text/css')
    link(rel='stylesheet', href='css/shop.css', type='text/css')
    link(rel='stylesheet', href='css/footer.css', type='text/css')
    link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")

  body
    include blocks/_header
    include blocks/_shop
    include blocks/_footer


